[submodule "TableView"]
	path = TableView
	url = https://github.com/tgnivekucn/IOSComponent
[submodule "CollectionView"]
	path = CollectionView
	url = https://github.com/tgnivekucn/IOSComponent
[submodule "AVPlayer"]
	path = AVPlayer
	url = https://github.com/tgnivekucn/IOSComponent.git
